#jumboStyle{
    background: url('https://cdn.lifebuzz.com/images/16931/lifebuzz-b5404d5af1da98a17869519661ea31aa-limit_2000.gif') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
}