#navStyle{
    background: var(--green) !important;
    
}
#listStyle{
    margin-left: 75%;
    font-family: Indie Flower;
    font-size: 110%;
    
}

.aTag{
    color:white !important;
    font-family: Indie Flower;
}

.fab fa-facebook{
    overflow: hidden;
}