#projectPic{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#tutorialPic{
    overflow: hidden;
    width: 100%;

}

#beginPic{
    border-radius: 20px;
    border:dotted red;
    width: 100%;
    
}

#bluePic{
    overflow:hidden;
    border-style:solid black;
    border-radius: 10px;
    width: 100%;

}

#gamePic{
    width:100%;
    border-radius: 10px;
    /* border:double black; */
}

#apiPic{
    overflow:hidden;
    border-style:solid black;
    border-radius: 10px;
    width: 100%;

}